.c-header {
  background-color: $white;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  padding: 2.1rem 0;
  margin-bottom: 7.4rem;

  &__logo {
    font-family: $apercu;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.166;
    color: $black;
    text-decoration: none;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__item {
    margin-right: 4.5rem;

    &:last-child {
      margin-right: 0;
      background-color: $red;
      border-radius: 0.4rem;
      padding: 1.4rem 1.9rem;
      & a {
        color: $white;
      }
    }
  }

  &__link {
    color: $black;
    font-family: $apercu;
    font-weight: 700;
    line-height: 1.1875;
    text-decoration: none;
    text-transform: uppercase;
  }
}
