.u- {
  &3\/12 {
    width: calc(33.3333% - 3.2rem);
    &:last-child {
      margin-right: 0;
    }
  }

  &4\/12 {
    width: 25%;
  }

  &5\/12 {
    width: 41.6666%;
  }

  &6\/12 {
    width: 50%;
  }

  &7\/12 {
    width: 58.3333%;
  }

  &8\/12 {
    width: 66.6666%;
  }
}
